@font-face {
    font-family: "Helvetica";
    src: url(../fonts/helvetica.otf);
}

@font-face {
    font-family: "Merriweather";
    src: url(../fonts/Merriweather-Light.ttf);
}

@font-face {
    font-family: "OldEnglish"; /* Имя шрифта */
    src: url(../fonts/OldEnglish.ttf); /* Путь к файлу со шрифтом */
}

* {
    font-family: "Merriweather", serif;
    line-height: 1.4;
    color: #eabf77;
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
}

body {
    background-color: #221b1b;
    color: white;
    box-sizing: border-box;
    padding-right: 0 !important; /*Хак. Не убирать, при открытии галереи контент смещается, а нам это не нужно*/
}

.sectionWrap {
    margin-top: 4rem;
    background-color: #221b1b;
}

.sectionTitle {
    font-size: 64px;
    font-family: "OldEnglish", serif;
    text-align: center;
    margin-bottom: 3rem;
}

.comingSoonWrap {
    border-top: 1px solid #eabf77;
    border-bottom: 1px solid #eabf77;
    background-image: url(../img/back_soon.png);
    background-color: #221b1b; /* Used if the image is unavailable */
    height: 677px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    width: 100%;
}

.soonText {
    font-size: 24px;
    margin-top: 2rem;
}

.soonMainText {
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.19em;
    margin-top: 3rem;
}

nav {
    background-color: #221b1b;
    color: #eabf77 !important;
    width: 100%;
}

.navbar-nav,
.nav-link {
    font-family: "DM Serif Display", serif;
    font-size: 20px;
    letter-spacing: 0.065em;
    color: #eabf77;
    text-transform: uppercase;
}

.nav-link:focus,
.nav-link:hover {
    color: papayawhip;
}

.navbar-toggler-icon i {
    color: #eabf77 !important;
    border-color: #eabf77 !important;
    outline-color: none;
}

button:focus,
button:active:focus,
button.active:focus,
button.focus,
button:active.focus,
button.active.focus {
    outline: none;
}

.line {
    border-bottom: 1px solid #eabf77;
}

.mstrpiecesWrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../img/masterpiece.png);
    height: 698px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    border-bottom: 1px solid #eabf77;
    border-top: 1px solid #eabf77;
}

.mstrpieceSmall {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    color: #eabf77;
}

.mstrpieceBig {
    font-size: 144px;
    font-family: "OldEnglish", serif;
    color: #eabf77;
}

.meetingWrap {
    background-image: url(../img/letters/A.svg);
    background-position: right; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 25%;
}

.meetingImg {
    min-height: 387px;
}

.thirdWrap {
    background-image: url(../img/letters/C.svg);
}

.modal-content {
    background-color: #221b1b;
}

.modal-body {
    padding: 0.5rem;
}

.modal-header {
    padding: 14px 8px;
    border-bottom: 1px solid #eabf77;
    line-height: 0;
}

.modal-title {
    font-size: 14px;
    line-height: 14px;
}

.close, .close span {
    line-height: 0;
}


.videoWrap {
    background-image: url(../img/letters/M.svg);
    height: 600px; /* You must set a specified height */
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 25%;
}

.videoPlayWrap {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center; /* Center the image */
    background-repeat: no-repeat;
    border: 6px solid #eabf77;
    box-sizing: border-box;
    height: 600px;
    width: 100%;
}

.videoPlay {
    font-size: 100pt;
    text-align: center;
}

.partnersWrap {
    border-top: 1px solid #eabf77;
    background-image: url(../img/masterpiece.png);
    background-color: #221b1b; /* Used if the image is unavailable */
    min-height: 641px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    padding: 48px 0;
}

.partnersLogoWrapper {
    display: flex;
    align-items: center;
    width: 160px;
    margin: 14px 8px;
}

.partnersLogo {
    width: 100%;
}

/*1st PhotoShoot*/
/*Mona Lisa */
.letterWrap {
    height: 100%; /* You must set a specified height */
    background-position: left; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: 25%;
}

.letterWrap.right {
    background-position: right; /* Center the image */
}

.card {
    background-color: transparent;
}

.card-text {
    margin-left: 0;
}

.rowPhoto,
.rowPartners,
.rowFooter {
    margin: 0 auto;
}

.rowTitle {
    margin: 0 auto;
}

/*Footer*/

.footerWrap {
    border-top: 1px solid #eabf77;
    height: 150px;
    text-align: center;
    display: flex;
    align-items: center;
}

.footerIcon {
    margin: 0 8px;
}
.footerIcon:hover {
    text-decoration: none;
}

/*First Photoshoot*/
.imagePhoto:hover .imageImg {
    transform: scale(1.05);
}

.imageImg {
    width: 100%;
    transition: transform 0.3s ease;
    will-change: transform;
}

.imageDescription {
    margin-top: 32px;
}

.imageTitle {
    font-size: 48px;
    line-height: 48px;
    font-family: "OldEnglish", serif;
    margin-bottom: 0rem;
}

.imageNumber {
    position: absolute;
    top: -50px;
    right: -50px;
    font-family: "OldEnglish", serif;
    font-size: 212px;
}

.imageNumber.right {
    left: -64px;
}

.imageText {
    font-size: 16px;
    margin-top: 74px;
}

.columnImageWrap {
    margin-top: 4rem;
    padding-left: 7rem;
}

.columnImageWrapReverse {
    padding-right: 2rem;
    margin-top: 3rem;
}

.columnTitleWrap {
    margin-top: 3rem;
}

.columnTitleWrapReverse {
    margin-top: 7.5rem;
}

.girlsText {
    list-style-type: none;
    padding-left: 1em;
}

.girlsText li:before {
    content: "–";
    position: absolute;
    margin-left: -1em;
}

.listBefore {
    margin-top: 40px;
}

.listAfter {
    margin-top: 0;
}

.instLink {
    color: #eabf77;
}

.instLink:focus,
.instLink:hover {
    text-decoration: none;
    color: papayawhip;
}

@media screen and (max-width: 1024px) {
    .soonMainText {
        margin-top: 1rem;
    }

    .card-text {
        margin-left: 0;
    }

    .rowTitle {
        margin-top: 10%;
    }
}

@media screen and (max-width: 991px) {
    .card-text {
        margin-left: 5rem;
        margin-right: 0;
    }

    .mstrpieceBig {
        font-size: 110px;
    }
    .imageNumber {
        font-size: 192px;
    }
    .imageTitle {
        font-size: 42px;
    }
    .imageText {
        font-size: 17px;
        margin-top: 54px;
    }
}

@media screen and (max-width: 822px) {
    .soonMainText {
        font-size: 36px;
    }

    .nav-link {
        font-size: 18px;
    }
}

@media screen and (max-width: 768px) {
    .soonText {
        font-size: 20px;
    }

    .soonMainText {
        margin-top: 1rem;
        font-size: 32px;
    }

    .card-text {
        margin-left: 0;
    }

    .card-body {
        margin-left: 3rem;
    }

    .mstrpieceBig {
        font-size: 90px;
    }

    .rowTitle {
        margin-top: 20%;
    }

    .mstrpiecesWrap {
        height: 620px;
    }
}

@media screen and (max-width: 767px) {
    .imageNumber {
        font-size: 230px;
    }
}

@media screen and (max-width: 663px) {
    .imageNumber {
        display: none;
    }
}

@media screen and (max-width: 575px) {
    .meetingImg,
    .imageImg,
    .imageDescription {
        padding: 0 16px;
    }
    .letterWrap {
        background-image: none !important;
    }
}

@media screen and (max-width: 548px) {
    .mstrpieceBig {
        font-size: 66px;
    }
}

@media screen and (max-width: 440px) {
    .imageTitle {
        font-size: 38px;
    }
    .imageText {
        font-size: 16px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 425px) {
    .sectionTitle {
        font-size: 50px;
    }

    .soonMainText {
        margin-top: 3rem;
    }

    .card-text {
        margin-left: 0;
    }
}

@media screen and (max-width: 404px) {
    .imageTitle {
        font-size: 34px;
    }
}

@media screen and (max-width: 375px) {
    .sectionTitle {
        font-size: 48px;
    }

    .soonText {
        font-size: 18px;
    }

    .soonMainText {
        font-size: 30px;
        margin-top: 2rem;
    }

    .firstImg {
        padding-left: 15px;
    }

    .card-text {
        margin-left: 0;
    }

    .mstrpieceSmall {
        font-size: 22px;
    }

    .mstrpieceBig {
        font-size: 60px;
    }
}

@media screen and (max-width: 368px) {
    .imageTitle {
        font-size: 32px;
    }
    .imageText {
        font-size: 16px;
        margin-top: 16px;
    }
}

@media screen and (max-width: 320px) {
    .sectionTitle {
        font-size: 40px;
    }

    .mstrpieceSmall {
        font-size: 20px;
    }

    .mstrpieceBig {
        font-size: 45px;
    }
    .imageTitle {
        line-height: 36px;
    }
}
