@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap');
@font-face {
    font-family: "OldEnglish"; /* Имя шрифта */
    src: url(../fonts/OldEnglish.ttf); /* Путь к файлу со шрифтом */
   }

* {
    font-family: 'DM Serif Display', serif;
    line-height: 1.4;
    color: #EABF77;
}

*{
    margin: 0;
    padding:0;
}

html{
    overflow-x:hidden;
}

body{
    background-color: #211B1B;
    color: white;
    box-sizing: border-box;
}

#pageWrap{
/*    height: 1100px;*/
}

.sectionTitle{
    font-size: 55px;
    font-family: 'OldEnglish', serif;
    text-align: center;
}

.comingSoonWrap{
    background-image: url(../img/back_soon.png);
    height: 800px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.imgQuotes{
    height: 180px;
    width: auto;
}
    
.soonText{
    font-size: 24px;
    margin-top: 2rem;
    margin-left: 9rem;
    margin-right: 7rem;
}

.soonMainText{
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 0.19em;
    margin-left: 9rem;
}

.navWrap{
    height: 70px;
}

.navSemi{
    margin-top: 30px;
    text-align: center;
}

.menuBlock{
    font-family: 'DM Serif Display', serif;
    font-size: 20px;
    letter-spacing: 0.065em;
    color: #EABF77;
}

.customCol17 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.customCol17 {
    width: 14.285714%;
    float: left;
}

.line{
    border: 1px solid #EABF77;
}

.mstrpiecesWrap{
    background-image: url(../img/masterpiece.png);
    height: 700px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
}

.mstrpieceSmall{
    font-family: 'DM Serif Display', serif;
    font-size: 28px;
    color: #EABF77;
}

.mstrpieceBig{
    font-size: 144px;
    font-family: 'OldEnglish', serif;
    color: #EABF77;
}
